!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %title Samani Construction

    %script{:src => "//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry", :type => "text/javascript"}
    %script{:src => "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js", :type => "text/javascript"}

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %nav.uk-navbar#bg.uk-animation-slide-top{"data-uk-sticky" => "", class: ('nav-overlay' unless content_for?(:projects)) }
      .uk-container.uk-container-center
        %a.uk-navbar-brand.uk-hidden-small.logo{:href => root_path}
        %ul.uk-navbar-nav.uk-hidden-small
          %li#nav-link
            = link_to 'Projects', projects_path
          %li#nav-link
            = link_to 'Contact', contact_path
        %a.uk-navbar-toggle.uk-visible-small{"data-uk-offcanvas" => "", :href => "#"}
        %a.uk-navbar-brand.uk-navbar-center.uk-visible-small.logo{:href => root_path}

    - if content_for?(:projects)
      = yield(:projects)
    - else
      = yield
